@theme-base-color:getThemeColor(@theme,theme-base-color);
@theme-base-secondary-color:getThemeColor(@theme,theme-base-secondary-color);
@theme-font-size-base:getThemeColor(@theme,theme-font-size-base);
@theme-header-font-size-base:getThemeColor(@theme,theme-header-font-size-base);
@theme-nav-bar-color:getThemeColor(@theme,theme-nav-bar-color);
@theme-nav-bar-bg-color:getThemeColor(@theme,theme-nav-bar-bg-color);
@theme-link-color:getThemeColor(@theme,theme-link-color);

body { 
  color: @theme-base-color;
  background-color: @theme-nav-bar-bg-color; 
}